@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@layer components {
  .nav-link {
    @apply font-medium text-gray-800 hover:text-black transition;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
